#modal-background{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#modal-background #modal-content{
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 60%;
    max-width: 800px;
    min-width: 300px;

    height: 70%;
    max-height: 500px;
    min-height: 300px;

    background-color: whitesmoke;
    overflow: hidden;

    border-radius: 10px;
}

#modal-background #modal-content .answer-container{
    width: 100%;
    height: 100%;
    position: relative;
}

#modal-background #modal-content .answer-container .answer-centralizer{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

#modal-background #modal-content .answer-container .answer-centralizer h5{
    color: black;
}

#modal-background #modal-content .answer-container .answer-centralizer .success-header{
    color: darkgreen !important;
    font-size: 300%;
    font-family: 'Roboto Thin', serif;
}

#modal-background #modal-content .answer-container .answer-centralizer .success-icon{
    color: darkgreen !important;
    font-size: 400%;
}

#modal-background #modal-content .answer-container .answer-centralizer .failure-header{
    color: darkred !important;
    font-size: 300%;
    font-family: 'Roboto Thin', serif;
}

#modal-background #modal-content .answer-container .answer-centralizer .failure-icon{
    color: darkred !important;
    font-size: 400%;
}

#modal-background #modal-content .answer-container .button-container{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#modal-background #modal-content .answer-container .button-container .modal-button{
    outline: none;
    border: none;

    margin: auto;

    border-radius: 12px;
    width: 100px;
    height: 40px;

    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-text);

    box-shadow: rgba(255, 122, 122, 0.35) 0 5px 5px;

    transition: 0.125s all linear;
}

#modal-background #modal-content .answer-container .button-container .modal-button:hover {
    box-shadow: rgba(255, 122, 122, 0.7) 0px 5px 8px;
    transform: scale(1.05);
    cursor: pointer;
}