.background{
    color: var(--color-text);
    font-family: var(--font-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background h1{
    color: var(--color-text);
}

.background .content{
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}

.background .content h1{
    font-size: 400%;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .background .content h1{
        font-size: 300%;
    }
}

.background .content .button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: auto;
}



.background .content .button-container a.button{
    text-decoration: none;
    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-text);

    margin: 0 auto 35px auto;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    height: 23px;

    box-shadow: rgba(255, 122, 122, 0.35) 0px 5px 10px;

    transition: 0.125s all linear;
}

.background .content .button-container a.button:hover {
    box-shadow: rgba(255, 122, 122, 0.7) 0px 5px 25px;
    transform: scale(1.05);
}

