.footer-body{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 20px;

    color: var(--color-text);
    text-align: center;
}

.footer-body .footer-icon{
    color: var(--color-secondary);
}