.background .send-container{
    width: 40%;
    max-width: 500px;
    min-width: 300px;

    height: 70%;
    max-height: 400px;
    min-height: 200px;

    padding: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

.background .send-container .send-button{
    outline: none;
    border: none;

    margin: 25px auto 0 auto;
    border-radius: 12px;
    width: 100px;
    height: 40px;

    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-text);

    box-shadow: rgba(255, 122, 122, 0.35) 0 5px 5px;

    transition: 0.125s all linear;
}

.background .send-container .send-button:hover {
    box-shadow: rgba(255, 122, 122, 0.7) 0px 5px 8px;
    transform: scale(1.05);
    cursor: pointer;
}

.background .send-container .form-container {
    display: flex;
    flex-direction: column;
}

.background .send-container .form-container #name-input {
    margin-bottom: 15px;
    padding: 3px;
    width: 200px;
    height: 30px;
    border-radius: 10px;

    outline: none;
    border: #555555;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.background .send-container .form-container #text-area {
    width: 100%;
    height: 200px;
    padding: 7px;
    outline: none;
    border: #555555;
    resize: none;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    scrollbar-color: dark;
    scrollbar-width: thin
}

.background .send-container .form-container #text-area::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.background .send-container .form-container #text-area::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.background .send-container .form-container #text-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}