.background{
    color: var(--color-text);
    font-family: var(--font-primary);
    width: 100%;
    height: 100%;

}

.background .receive-container{
    width: 40%;
    max-width: 500px;
    min-width: 300px;

    height: 70%;
    max-height: 400px;
    min-height: 200px;

    padding: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

.background .receive-container .message-container{
    color: var(--color-background);
    background-color: var(--color-text);
    border-radius: 5px;

    height: 65%;
    width: 90%;

    margin: auto;
    padding: 5px;

    overflow: scroll;
    scrollbar-color: dark;
    scrollbar-width: thin;

    box-shadow: rgba(255, 255, 255, .25) 0 5px 10px;
}

/* width */
.background .receive-container .message-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.background .receive-container .message-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.background .receive-container .message-container::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.background .receive-container .message-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.background .receive-container .receive-button{
    outline: none;
    border: none;

    margin: 25px auto 0 auto;
    border-radius: 12px;
    width: 100px;
    height: 40px;

    text-align: center;

    background-color: var(--color-secondary);
    color: var(--color-text);

    box-shadow: rgba(255, 122, 122, 0.35) 0 5px 5px;

    transition: 0.125s all linear;
}

.background .receive-container .receive-button:hover {
    box-shadow: rgba(255, 122, 122, 0.7) 0px 5px 8px;
    transform: scale(1.05);
    cursor: pointer;
}

