.navbar{
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: var(--color-secondary);

    display: inline-block;
    position: relative;
}

.navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}